* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
input,
button {
  font-family: "Open Sans", sans-serif;
}

input,
button {
  font-size: 16px;
}

main {
  max-width: 800px;
  width: 80%;
  margin: 0 auto;
  padding: 16px;
}

.input_section {
  display: flex;
  flex-direction: column;
  padding: 16px;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 15px;
  background-color: #ffffff;
}

.input_section > h2 {
  text-align: center;
  color: cornflowerblue;
}

.input_section > form > .input {
  margin: 8px 0;
}

.input_section > form > button {
  background-color: cornflowerblue;
  color: white;
  border: 0;
  border-radius: 5px;
  display: block;
  width: 100%;
  padding: 8px;
  cursor: pointer;
}

.input_section > form > button > span {
  font-weight: bold;
}

.input_section > form > .input > input {
  display: block;
  width: 100%;
  padding: 8px;
  border-radius: 5px;
}

.input_section > form > .input > label {
  color: cornflowerblue;
  font-weight: bold;
}

.input_section > form > .input_inline {
  margin: 12px 0;
  display: flex;
  align-items: center;
}

.input_section > form > .input_inline > label {
  color: cornflowerblue;
  font-weight: bold;
  margin-right: 10px;
}

.book_shelf {
  margin: 16px 0 0 0;
  border: 1px solid black;
  padding: 16px;
  border-radius: 10px;
}

.book_shelf > h2 {
  color: cornflowerblue;
}

.book_shelf > .book_list {
  padding: 16px;
}

.book_shelf > .book_list > .book_item {
  padding: 8px 16px 16px 16px;
  border: 1px solid black;
  border-radius: 5px;
  margin: 10px 0;
}

.book_shelf > .book_list > .book_item > h3,
p {
  margin: 8px 0;
}

.book_shelf > .book_list > .book_item > .action > button {
  border: 0;
  padding: 5px;
  margin: 0 5px 0 0;
  border-radius: 5px;
  cursor: pointer;
}

.book_shelf > .book_list > .book_item > .action > .green {
  background-color: darkgreen;
  color: white;
}

.book_shelf > .book_list > .book_item > .action > .red {
  background-color: rgb(203, 179, 179);
  color: white;
}

buttonEdit {
  color: rgb(255, 255, 255);
  background-color: green;
  border: none;
  padding: 13px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 10px;
  cursor: pointer;
}

buttonEdit:hover {
  font-weight: bold;
}

buttonDelete {
  color: rgb(255, 255, 255);
  background-color: rgb(180, 5, 5);
  border: none;
  padding: 13px 27px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 10px;
  cursor: pointer;
  margin-left: 10px;
}

buttonDelete:hover {
  font-weight: bold;
}

.book_item {
  border: 1px solid #ffffff;
}

.jumbotron {
  font-size: 30px;
  padding: 20px;
  background-color: orange;
  text-align: center;
  color: rgb(0, 0, 0);
}

.navbar {
  background-color: #121729;
  overflow: hidden;
  padding: 15px;
  position: sticky;
  top: 0;
}

.navbar ul {
  padding-inline: 4rem;
  display: flex;
  gap: 2rem;
}

.navbar li {
  list-style-type: none;
  margin-top: 5px;
}

.navbar a {
  text-decoration: none;
  color: #d7ab84;
  display: block;
  text-align: center;
  font-weight: 400;
  font-size: 30px;
  float: left;
}

.navbar a:hover {
  text-decoration: underline;
  color: rgb(255, 255, 255);
  text-underline-offset: 12px;
  font-weight: bold;
}

.navbar .search-container {
  float: right;
}

.navbar input[type="text"] {
  padding: 6px;
  margin-top: 10px;
  font-size: 17px;
  border: none;
}

.navbar .search-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 10px;
  margin-right: 16px;
  background: #dfd4d4;
  font-size: 17px;
  border: none;
  cursor: pointer;
  color: black;
}

.navbar .search-container button:hover {
  background: #ccc;
}

@media screen and (max-width: 600px) {
  nav .search-container {
    float: none;
  }

  nav input[type="text"] {
    border: 1px solid #ccc;
  }
}
